.containerCountryDetail{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.detail{
    position: relative;
    background-color: white;
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
    padding: 30px;
    gap: 30px;
}

.flag{
    margin-right: 0%;
    height:200px;
   width: 120px;
}

.flag img{
    height: 200px;
    width: 120px;
    object-fit: contain;
    filter: drop-shadow(5px 5px 4px rgba(0,0,0,0.5));
}

.closeButon{
    position: absolute;
    top:10px;
    right: 10px;
    border: none;
    background: none;
    height: fit-content;
    width: fit-content;
    font-size: 20px;
    cursor: pointer;
    background-color: white;
    transition-duration: 0.4s;
}

.closeButon:hover{
    background-color: red;
    border-radius: 8px;
}

.actvitiesContainerDetail{
    background-color: lightsteelblue;
    border-radius: 5px;
    height: 150px;
    width: 160px;
}