.grid{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-evenly;
    flex-grow: 4;
    
}

.filter{
    margin:1em;
    display: flex;
    justify-content: center;
    gap:20px;

    
}

.opt{
    font-size: 15px;
    font-family: Calibri; 
    font-style:normal;
    font-weight:550;
    border-radius: 50px;
    background-color: aquamarine;

}
.opt option{
    border-radius: 10px;
}
